@model CPSWebApplication.Models.ViewModel.UserModel
@{
    ViewBag.Title = "Faculty";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@Model.FirstName</h2>
<h2>Welcome to Faculty Portal</h2>

@using (Html.BeginForm("Create", "AcadAdv"))
{
    <div>
        <div>
            <button type="button" class="btn btn-default" onclick="window.location = ('@Url.Action("ViewBlanckCPS","FacultyAdvisor")')">View Blank CPS</button>
        </div>
        <br /><br />
        <div>
            <button type="button" class="btn btn-default" onclick="window.location = ('@Url.Action("CreateDraftCPS","FacultyAdvisor")')">Create Draft CPS</button>
        </div>
        <br /><br />
        <div>
            <button type="button" class="btn btn-default" onclick="window.location = ('@Url.Action("ViewDraftCPS","FacultyAdvisor")')">View Draft CPS</button>
        </div>
        <br /><br />
        <div>
            <button type="button" class="btn btn-default" onclick="window.location = ('@Url.Action("ViewFinalCPS","FacultyAdvisor")')">View Fianl CPS</button>
        </div>
    </div>
}

