@model CPSWebApplication.Models.ViewModel.DesignCPSViewModel

@{
    ViewBag.Title = "Design CPS";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

@if (TempData["Message"] != null)
{<div style="color: #1e83ca;">@TempData["Message"]</div>}

@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.LabelFor(model => model.searchId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.searchId, new { htmlAttributes = new { @class = "form-control", @id = "myInput" } })
            @Html.ValidationMessageFor(model => model.searchId, "", new { @class = "text-danger" })
           <br/>
            <button type="submit" class="btn btn-default" onclick="window.location = ('@Url.Action("StudentCPSDesign","DesignCPSController")')">Submit </button>
            <br />
        </div>
        </div>
}

<!--<button type="button" class="btn btn-default" onclick="window.location = ('@Url.Action("AcademicAdvisor", "Home", new { id = Convert.ToInt32(@Session["UserID"]) })')">BACK TO HOME </button>-->
